/*For Navbar*/
.nav {
    background-color: #0b0a17;
    color: white;
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    padding-left: 2rem;
}

.title {
    font-size: 30px;
    padding-left: 2rem;
}

.sample{
    font-size: 30px;
    padding-right: 20rem;
}

.button{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: medium;
    border-radius: 5px;
}

/*For HeroSection*/
.hero_section_ab {
    height: 700px;
    background-image: url(../assets/hero_ab.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: inline-block;
    padding: 1rem;
    font-size: 100px;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 200px;
    top: 100px;
}

.text {
    font-size: 50px;
}


.containersz{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    padding-bottom: 15rem;
}


.title-text{
    position: absolute;
    background-color: #0b0a17;
    padding-left: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 10rem;
    font-size: x-large;
    display: flex;
    gap: 30rem;
    justify-content: space-between;
    align-items: center;
}

.serv_title{
    font-size: 40px;
    padding-left: 190px;
    padding-top: 50px;
}

.wrapper {
    padding: 10px 10%;
}

#serv_cards{
    /* border: 5px solid red; */
    pad: 50px 0;
    padding-bottom: 100px;
}

.box-area{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.box{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-left: -90px;
    margin-top: 80%;
    font-family: bebas neue;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
}

.overlay p{
    color: white;
    margin-left: -80px;
}

.boxLhover{
    transform: scale(1.2);
}

.box:hover .overlay{
    height: 100%;
}

.serv_container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem; 
    padding-left: 13rem; 
}
/*For Content1*/
.serv_img img{
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    height: auto;
    overflow: hidden;
}

.vLine {
    border-left: 6px solid black;
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: -4px;
 }

.service_one{
    font-size: xx-large;
    position: absolute;
    text-align: center;
    right: 250px;
}

/*For Content2*/
.serv_container_t {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem; 
    padding-right: 16rem; 
}

.serv_img_t img{
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    height: auto;
}

.service_two{
    font-size: xx-large;
    position: absolute;
    text-align: center;
    left: 150px;
}

/*For Content3*/
.serv_container_th {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem; 
    padding-left: 13rem; 
}

.serv_img_th img{
    border: 5px solid black;
    border-radius: 10px;
    width: 400px;
    height: auto;
}

.service_three{
    font-size: xx-large;
    position: absolute;
    text-align: center;
    right: 150px;
}
